* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.genresList {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.genreImg {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.genreParagraph {
  line-height: 30px;
  padding-left: 5px;
}
.gameCardContainer {
  width: 300px;
  border: none;
}
.headerBarName {
  line-height: 80px;
  margin-bottom: 0;
}
